(
    players: {
        "pink": Actor(
            name: "Linus",

            texture: "image/actor/pink.png",
            texture_atlas_grid: TextureAtlasGrid(
                tile_size: UVec2(9, 8),
                columns: 2,
                rows: 1,
            ),
            sprite_animation: SpriteAnimation(
                frames: [
                    SpriteAnimationFrame(index: 0, beats: 8),
                    SpriteAnimationFrame(index: 1, beats: 8),
                ],
            ),

            attack: Attack(color: Srgba(Srgba(red: 0.855, green: 0.576, blue: 0.800, alpha: 1.000))),
            health: Health(max: 100, current: 100),
            deck: Deck(cards: ["step", "pair"]),
        ),
    },

    enemies: {
        // TODO: If character select screen is implemented, uncomment this and include logic to
        //       avoid spawning enemies that look like the player (aka same key).
        /*"pink": Actor(
            name: "Linus",

            texture: "image/actor/pink.png",
            texture_atlas_grid: TextureAtlasGrid(
                tile_size: UVec2(9, 8),
                columns: 2,
                rows: 1,
            ),
            sprite_animation: SpriteAnimation(
                frames: [
                    SpriteAnimationFrame(index: 0, beats: 8),
                    SpriteAnimationFrame(index: 1, beats: 8),
                ],
            ),

            attack: Attack(color: Srgba(Srgba(red: 0.855, green: 0.576, blue: 0.800, alpha: 1.000))),
            deck: Deck(cards: ["step", "pair", "pair"]),
        ),*/

        "red": Actor(
            name: "Lucy",
            weight: 0.1,

            texture: "image/actor/red.png",
            texture_atlas_grid: TextureAtlasGrid(
                tile_size: UVec2(8, 8),
                columns: 2,
                rows: 1,
            ),
            sprite_animation: SpriteAnimation(
                frames: [
                    SpriteAnimationFrame(index: 0, beats: 8),
                    SpriteAnimationFrame(index: 1, beats: 8),
                ],
            ),

            attack: Attack(color: Srgba(Srgba(red: 0.929, green: 0.557, blue: 0.576, alpha: 1.000))),
            health: Health(current: 10, max: 10),
            xp_reward: 5,
            deck: Deck(cards: ["eighth_note", "step"]),
        ),

        "purple": Actor(
            name: "Lily",
            min_level: 2,
            weight: 0.4,

            texture: "image/actor/purple.png",
            texture_atlas_grid: TextureAtlasGrid(
                tile_size: UVec2(8, 8),
                columns: 2,
                rows: 1,
            ),
            sprite_animation: SpriteAnimation(
                frames: [
                    SpriteAnimationFrame(index: 0, beats: 8),
                    SpriteAnimationFrame(index: 1, beats: 8),
                ],
            ),

            attack: Attack(color: Srgba(Srgba(red: 0.694, green: 0.529, blue: 0.788, alpha: 1.000))),
            health: Health(current: 15, max: 15),
            xp_reward: 10,
            deck: Deck(cards: ["step", "step", "step", "pair"]),
        ),

        "blue": Actor(
            name: "Aqua",
            min_level: 4,
            weight: 0.8,

            texture: "image/actor/blue.png",
            texture_atlas_grid: TextureAtlasGrid(
                tile_size: UVec2(8, 8),
                columns: 2,
                rows: 1,
            ),
            sprite_animation: SpriteAnimation(
                frames: [
                    SpriteAnimationFrame(index: 0, beats: 8),
                    SpriteAnimationFrame(index: 1, beats: 8),
                ],
            ),

            attack: Attack(color: Srgba(Srgba(red: 0.424, green: 0.694, blue: 0.725, alpha: 1.000))),
            health: Health(current: 25, max: 25),
            xp_reward: 15,
            deck: Deck(cards: ["step", "quarter_note", "eighth_rest", "pair"]),
        ),

        "green": Actor(
            name: "Jade",
            min_level: 6,
            weight: 1.2,

            texture: "image/actor/green.png",
            texture_atlas_grid: TextureAtlasGrid(
                tile_size: UVec2(8, 8),
                columns: 2,
                rows: 1,
            ),
            sprite_animation: SpriteAnimation(
                frames: [
                    SpriteAnimationFrame(index: 0, beats: 8),
                    SpriteAnimationFrame(index: 1, beats: 8),
                ],
            ),

            attack: Attack(color: Srgba(Srgba(red: 0.557, green: 0.722, blue: 0.518, alpha: 1.000))),
            health: Health(current: 40, max: 40),
            xp_reward: 20,
            deck: Deck(cards: ["quarter_note", "quarter_note", "quarter_note", "ballet"]),
        ),

        "yellow": Actor(
            name: "Lemon",
            min_level: 8,
            weight: 1.6,

            texture: "image/actor/yellow.png",
            texture_atlas_grid: TextureAtlasGrid(
                tile_size: UVec2(8, 8),
                columns: 2,
                rows: 1,
            ),
            sprite_animation: SpriteAnimation(
                frames: [
                    SpriteAnimationFrame(index: 0, beats: 8),
                    SpriteAnimationFrame(index: 1, beats: 8),
                ],
            ),

            attack: Attack(color: Srgba(Srgba(red: 0.827, green: 0.761, blue: 0.537, alpha: 1.000))),
            health: Health(current: 60, max: 60),
            xp_reward: 40,
            deck: Deck(cards: ["step", "quarter_rest", "cartwheel", "half_note"]),
        ),
    },
)
