(
    player: "linus",
    player_health_multiplier: 10,
    player_strength_multiplier: 5,

    actors: {
        "lucy": Actor(
            display_name: "Lucy",

            texture_path: "image/actor/red.png",
            texture_atlas_grid: TextureAtlasGrid(
                tile_size: UVec2(8, 8),
                columns: 2,
                rows: 1,
            ),
            sprite_animation: SpriteAnimation(
                frames: [
                    SpriteAnimationFrame(index: 0, steps: 2),
                    SpriteAnimationFrame(index: 1, steps: 2),
                ],
            ),

            movement: Movement(
                accel: 1000,
                decel: 0.01,
                speed: 50.0,
            ),
            health: 10,
            strength: 1,
        ),

        "linus": Actor(
            display_name: "Linus",

            texture_path: "image/actor/pink.png",
            texture_atlas_grid: TextureAtlasGrid(
                tile_size: UVec2(9, 8),
                columns: 2,
                rows: 1,
            ),
            sprite_animation: SpriteAnimation(
                frames: [
                    SpriteAnimationFrame(index: 0, steps: 2),
                    SpriteAnimationFrame(index: 1, steps: 2),
                ],
            ),

            movement: Movement(
                accel: 1000,
                decel: 0.01,
                speed: 50.0,
            ),
            health: 10,
            strength: 1,
        ),

        "jade": Actor(
            display_name: "Jade",

            texture_path: "image/actor/green.png",
            texture_atlas_grid: TextureAtlasGrid(
                tile_size: UVec2(8, 8),
                columns: 2,
                rows: 1,
            ),
            sprite_animation: SpriteAnimation(
                frames: [
                    SpriteAnimationFrame(index: 0, steps: 2),
                    SpriteAnimationFrame(index: 1, steps: 2),
                ],
            ),

            movement: Movement(
                accel: 1000,
                decel: 0.01,
                speed: 50.0,
            ),
            health: 10,
            strength: 1,
        ),

        "aqua": Actor(
            display_name: "Aqua",

            texture_path: "image/actor/blue.png",
            texture_atlas_grid: TextureAtlasGrid(
                tile_size: UVec2(8, 8),
                columns: 2,
                rows: 1,
            ),
            sprite_animation: SpriteAnimation(
                frames: [
                    SpriteAnimationFrame(index: 0, steps: 2),
                    SpriteAnimationFrame(index: 1, steps: 2),
                ],
            ),

            movement: Movement(
                accel: 1000,
                decel: 0.01,
                speed: 50.0,
            ),
            health: 10,
            strength: 1,
        ),

        "lily": Actor(
            display_name: "Lily",

            texture_path: "image/actor/purple.png",
            texture_atlas_grid: TextureAtlasGrid(
                tile_size: UVec2(8, 8),
                columns: 2,
                rows: 1,
            ),
            sprite_animation: SpriteAnimation(
                frames: [
                    SpriteAnimationFrame(index: 0, steps: 2),
                    SpriteAnimationFrame(index: 1, steps: 2),
                ],
            ),

            movement: Movement(
                accel: 1000,
                decel: 0.01,
                speed: 50.0,
            ),
            health: 10,
            strength: 1,
        ),
    },
)
