
(
    // Deck:
    deck_cap: 10,

    // Cards:
    card_height: Vw(9.0),
    card_background_map: {
        "yellow": CardBackground (
            texture: "image/card/yellow_card.png",
            texture_atlas_grid: TextureAtlasGrid(
                tile_size: UVec2(16, 16),
                columns: 2,
                rows: 1,
            ),
        ),
        "green": CardBackground (
            texture: "image/card/green_card.png",
            texture_atlas_grid: TextureAtlasGrid(
                tile_size: UVec2(16, 16),
                columns: 2,
                rows: 1,
            ),
        ),
        "blue": CardBackground (
            texture: "image/card/blue_card.png",
            texture_atlas_grid: TextureAtlasGrid(
                tile_size: UVec2(16, 16),
                columns: 2,
                rows: 1,
            ),
        ),
        "pink": CardBackground (
            texture: "image/card/pink_card.png",
            texture_atlas_grid: TextureAtlasGrid(
                tile_size: UVec2(16, 16),
                columns: 2,
                rows: 1,
            ),
        ),
    },
    card_icon_map: {
        "step": CardIcon(texture: "image/card/step.png"),
        "double_beat": CardIcon(texture: "image/card/double_beat.png"),
        "major_chord": CardIcon(texture: "image/card/major_chord.png"),
        "splits": CardIcon(texture: "image/card/splits.png"),
    },
    card_map: {
        "step": Card(
            name: "Basic Step",
            description: "A-one and a-two and a-step.",
            background: "blue",
            icon: "step",

            // TODO: "Movement card" sfx.
            play_sfx: "audio/sfx/Projectile Hits Enemy.ogg",
            action: Step,
            action_config: CardActionConfig(
                remove_on_beat: 8,
            ),
        ),
        "splits": Card(
            name: "Splits",
            description: "Split in two!",
            background: "blue",
            icon: "splits",

            // TODO: "Movement card" sfx.
            play_sfx: "audio/sfx/Projectile Hits Enemy.ogg",
            action_config: CardActionConfig(
                remove_on_beat: 16,
            ),
        ),
        "double_beat": Card(
            name: "Double Beat",
            description: "Two beats, rapid fire!",
            background: "pink",
            icon: "double_beat",

            action: DoubleBeat,
            action_config: CardActionConfig(
                remove_on_beat: 4,
                attack: Attack (
                    power: 2.0,
                    force: 4.0,
                    projectile: Some("quarter_note"),
                ),
            ),
        ),
        "major_chord": Card(
            name: "Major Chord",
            description: "Notes that move apart synchronously",
            background: "pink",
            icon: "major_chord",

            action_config: CardActionConfig(
                remove_on_beat: 16,
            ),
        ),
    }
)
