
(
    // Deck:
    deck_cap: 10,

    // Cards:
    card_height: Vw(9.0),
    card_background_map: {
        "blue": CardBackground (
            texture: "image/card/background/blue.png",
            texture_atlas_grid: TextureAtlasGrid(
                tile_size: UVec2(16, 16),
                columns: 2,
                rows: 1,
            ),
        ),
        "pink": CardBackground (
            texture: "image/card/background/pink.png",
            texture_atlas_grid: TextureAtlasGrid(
                tile_size: UVec2(16, 16),
                columns: 2,
                rows: 1,
            ),
        ),
        "green": CardBackground (
            texture: "image/card/background/green.png",
            texture_atlas_grid: TextureAtlasGrid(
                tile_size: UVec2(16, 16),
                columns: 2,
                rows: 1,
            ),
        ),
        "yellow": CardBackground (
            texture: "image/card/background/yellow.png",
            texture_atlas_grid: TextureAtlasGrid(
                tile_size: UVec2(16, 16),
                columns: 2,
                rows: 1,
            ),
        ),
    },
    card_icon_map: {
        // TODO: Long-duration notes are stronger versions of short-duration notes (more damage and knockback, maybe less speed).
        "eighth_note": CardIcon(texture: "image/card/icon/eighth_note.png"),
        //"quarter_note": CardIcon(texture: "image/card/icon/quarter_note.png"),
        //"half_note": CardIcon(texture: "image/card/icon/half_note.png"),
        //"whole_note": CardIcon(texture: "image/card/icon/whole_note.png"),
        "pair": CardIcon(texture: "image/card/icon/pair.png"),
        "major_chord": CardIcon(texture: "image/card/icon/major_chord.png"),
        "cluster_chord": CardIcon(texture: "image/card/icon/cluster_chord.png"),
        "rest": CardIcon(texture: "image/card/icon/rest.png"),
        "sharp_flat": CardIcon(texture: "image/card/icon/sharp_flat.png"),
        "natural": CardIcon(texture: "image/card/icon/natural.png"),
        "fermata": CardIcon(texture: "image/card/icon/fermata.png"),
        "bass_clef": CardIcon(texture: "image/card/icon/bass_clef.png"),

        "step": CardIcon(texture: "image/card/icon/step.png"),
        "splits": CardIcon(texture: "image/card/icon/splits.png"),
        "ballet": CardIcon(texture: "image/card/icon/ballet.png"),
        "moonwalk": CardIcon(texture: "image/card/icon/moonwalk.png"),
    },
    card_map: {
        "step": Card(
            name: "Basic Step",
            description: "A-one and a-two and a-step.",
            background: "blue",
            icon: "step",

            // TODO: "Movement card" sfx.
            play_sfx: "audio/sfx/Projectile Hits Enemy.ogg",
            action: Step,
            action_config: CardActionConfig(
                remove_on_beat: 8,
            ),
        ),
        "splits": Card(
            name: "Splits",
            description: "Split in two!",
            background: "blue",
            icon: "splits",

            // TODO: "Movement card" sfx.
            play_sfx: "audio/sfx/Projectile Hits Enemy.ogg",
            action_config: CardActionConfig(
                remove_on_beat: 16,
            ),
        ),
        "pair": Card(
            name: "Pair",
            description: "Two beats, rapid fire!",
            background: "pink",
            icon: "pair",

            action: DoubleBeat,
            action_config: CardActionConfig(
                remove_on_beat: 4,
                attack: Attack (
                    power: 2.0,
                    force: 4.0,
                    projectile: Some("quarter_note"),
                ),
            ),
        ),
        "major_chord": Card(
            name: "Major Chord",
            description: "Notes that move apart synchronously",
            background: "pink",
            icon: "major_chord",

            action_config: CardActionConfig(
                remove_on_beat: 16,
            ),
        ),
    }
)
