(
    projectiles: {
        "quarter_note": Projectile(
            name: "Quarter Note",

            texture: "image/projectile/quarter_note.png",
            spawn_sfx: "audio/sfx/Projectile Hits Enemy.ogg",
            spawn_sfx_volume: 0.5,

            lifetime: 1,
            radius: 3.0,
            speed: 20.0,
            damage: 2.0,
            knockback: 0.5,
        ),
        "double_beat": Projectile(
            name: "Double Beat",

            texture: "image/projectile/quarter_note.png",
            spawn_sfx: "audio/sfx/Projectile Hits Enemy.ogg",
            spawn_sfx_volume: 0.5,

            lifetime: 2,
            radius: 3.0,
            speed: 25.0,
            damage: 3.0,
            knockback: 0.6,
        ),
    },
)
